@import "common.scss";
@import "theme/_socicon.scss";
@import "theme/_layout.scss";
@import 'theme/buttons.scss';
@import 'app/form.scss';

body {
  background-color: #f6f6f6;
}

.center {
  margin: 0 auto;
}

.auth-logo {
  text-align: center;
}

.auth-main {
  margin-top: 150px;
}

.auth-block {
  padding: 24px 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 10px;
  .title {
    margin: 0 0 20px;
  }
}
