<div class="adcalendar-header">
    <div class="btn-group-left">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-default" ng-click="vm.prev()"><span class="fa fa-chevron-left clickable"></span></button>
            <button type="button" class="btn btn-default" ng-click="vm.next()"><span class="fa fa-chevron-right clickable"></span></button>
        </div>
    </div>
    <div class="btn-group-toolbar">
        <div class="form-group select-area">
            <select class=" form-control " name="araeSelect " id="araeSelect " placeholder="请选择区域 " ng-model="params.sceneCode" ng-change="vm.query()">
                <option ng-repeat="option in status.areaList " value="{{option.SCENE_CODE}} ">{{option.SCENE_NAME}}</option>
            </select>
        </div>
    </div>
    <div class="btn-group-right ">
        <div class="view-switch " ng-click="vm.switchView() "> <span class="fa  clickable " ng-class="{'fa-bars':!status.showList,'fa-calendar':status.showList}" uib-tooltip="显示行事历/显示列表"></span></div>
        <div class="btn-group " role="group " aria-label="Basic example ">
            <button type="button " class="btn btn-default " ng-disabled="true ">周</button>
        </div>
    </div>
</div>
