.adcalendar {
  &-header {
    height: 50px;
    .btn-group-left {
      float: left;
    }
    .btn-group-toolbar {
      .select-area {
        float: left;
        margin-right: 20px;
      }
      float: left;
      margin-left: 20px;
    }
    .btn-group-right {
      .view-switch {
        line-height: 34px;
        font-size: 20px;
        margin-right: 15px;
        float: left;
      }
      float: right;
    }
  }
  .modal-content {
    width: 300px;
  }
  &-tooltip {
    position: absolute;
    width: 200px;
    z-index: 1000;
    .modal-title {
      text-align: center;
    }
    .modal-body {
      p {
        font-size: 12px;
        margin-bottom: 2px;
      }
    }
    .modal-footer {
      padding: 10px;
    }
    .btn {
      font-size: 10px;
    }
  }
  .fc table {
    font-size: 0.95em;
  }
}

.fc-time-grid .fc-slats .fc-minor td {
  border-top-style: none;
}
